.footer {
  display: flex;
  align-items: center;
  min-height: 5rem;
  background-color: var(--clr-default-700);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 6rem;
    padding-left: 6rem;

    @media (max-width: em(992)) {
      padding-right: 0;
      padding-left: 0;
    }

    @media (max-width: em(575)) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  &__policy {
    font-size: 1.4rem;
    color: var(--clr-default-300);

    @media (max-width: em(575)) {
      padding-right: 1rem;
    }
  }

  &__link {
    font-size: 1.4rem;
    color: var(--clr-default-300);
    transition: color var(--clr-default-100);

    &:hover {
      color: var(--clr-default-100);
      transition: color var(--clr-default-100);
    }

    @media (max-width: em(575)) {
      display: flex;
      flex-direction: column;
    }

    &:first-child {
      margin-right: 9rem;

      @media (max-width: em(575)) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}
